<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <p>
                    &emsp;
                </p>
                <p>
                    &emsp;
                </p>
                <p>
                    &emsp;
                </p>
                <center>
                    <h1>Hi <%= username %> ! Welcome to your MLN Dashboard</h1>
                    <h2>
                        MultiLayer Network (MLN) Community Infrastructure for Data, Interaction, Visualization, and
                        Software
                    </h2>

                    <p>
                        &emsp;
                    </p>
                </center>
                <center>
                    <form action="/viewfile" method="GET">
                        <button class="btn" type="submit">View File</button>
                    </form>
                    &emsp;&emsp;&emsp;
                    <form action="/user-directory" method="GET">
                        <button class="btn" type="submit">Import File</button>
                    </form>
                    &emsp;&emsp;&emsp;
                    <form action="/generation" method="GET">
                        <button class="btn" type="submit">Layer Generation</button>
                    </form>
                    &emsp;&emsp;&emsp;
                    <form action="/analysis" method="GET">
                        <button class="btn" type="submit">Analysis</button>
                    </form>
                    &emsp;&emsp;&emsp;
                    <form action="/visualization" method="GET">
                        <button class="btn" type="submit">Visualization</button>
                    </form>
                    &emsp;&emsp;&emsp;
                </center>


            </main>
            <%- include('../includes/end.ejs') %>