# # See https://help.github.com/articles/ignoring-files/ 
# # for more about ignoring files.

# # dependencies
node_modules/

# # testing

# # Editors production
.vscode/

# # misc
.prettierrc
__pycache__/

# # debug
# npm-debug.log*

# # local env files
.venv/

# # vercel
# package-lock.json
# node_modules
